@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

body {
    font-family: 'Sorts Mill Goudy', serif;
}

a:hover, a:visited, a:link, a:active {
    /* text-decoration: none !important; */
    border-bottom: none !important;
}
